{% extends 'base.html.twig' %}

{% block body %}
    <!-- Entete -->
    {% if msf_steps is defined %}
        <h3>
        {% for step in msf_steps %}
                <a href="{{ step.link }}">{{ step.name|capitalize }}</a>{{ msf_steps|length == (step.index+1) ? '' : ' >> ' }}
        {% endfor %}
        </h3>
    {% endif %}


    <!-- Formulaire -->
    {% if form is defined %}
        <h1>{{ title }}</h1>
        <div class="jumbotron">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <!--{ { form_row(form.msf_cancel_action) }}-->
            <div class="row inline">
                {% if buttons.msf_btn_submit is defined %}
                    <button class="{{ buttons.msf_btn_submit.attr.class }}" type="submit" name="blixit_multi_step_formbundle[save]">{{ buttons.msf_btn_submit.label }}</button>
                {% endif %}
                {% if buttons.msf_btn_cancel is defined %}
                {% if buttons.msf_btn_cancel.active %}
                    <a href="{{ buttons.msf_btn_cancel.link }}" class="{{ buttons.msf_btn_cancel.attr.class }}" name="blixit_multi_step_formbundle[msf_cancel_action]">{{ buttons.msf_btn_cancel.label }}</a>
                {% endif %}
                {% endif %}
                {% if buttons.msf_btn_next is defined %}
                {% if buttons.msf_btn_next.active %}
                        <a href="{{ buttons.msf_btn_next.link }}" class="{{ buttons.msf_btn_next.attr.class }}" name="blixit_multi_step_formbundle[msf_next_action]">{{ buttons.msf_btn_next.label }}</a>
                {% endif %}
                {% endif %}
            </div>
        {{ form_end(form) }}
        </div>
    {% endif %}

    <!--Time of Generation -->
    {% if msf_time is defined %}
        <div>
            {% set ms = msf_time*1000 %}
            Généré en {{ ms }} ms
        </div>
    {% endif %}
{% endblock %}