{% extends 'base.html.twig' %}

{% block body %}
    <!-- Entete -->
    {% if menu is defined %}
        <h3>
            {% set i = 0 %}
            {% for step in menu %}
                <a href="{{ step.link }}">{{ step.name|capitalize }}</a>{{ menu|length == (i+1) ? '' : ' >> ' }}
                {% set i = i + 1 %}
            {% endfor %}
        </h3>
    {% endif %}


    <!-- Formulaire -->
    {% if form is defined %}
        <h1>{{ title }}</h1>
        <div class="jumbotron">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <!--{ { form_row(form.msf_cancel_action) }}-->
            <div class="row inline">
                {% if buttons.msf_btn_submit is defined %}
                    <button class="{{ buttons.msf_btn_submit.attr.class }}" type="submit" name="msf_btn_submit">
                        {{ buttons.msf_btn_submit.label }}</button>
                {% endif %}
                {% if buttons.msf_btn_cancel is defined %}
                    <a href="{{ buttons.msf_btn_cancel.link }}" class="{{ buttons.msf_btn_cancel.attr.class }}" >
                        {{ buttons.msf_btn_cancel.label }}</a>
                {% endif %}
                {% if buttons.msf_btn_next is defined %}
                        <a href="{{ buttons.msf_btn_next.link }}" class="{{ buttons.msf_btn_next.attr.class }}" >
                            {{ buttons.msf_btn_next.label }}
                            <i class="fa fa-arrow-right"></i>
                        </a>
                {% endif %}
                {% if buttons.msf_btn_previous is defined %}
                        <a href="{{ buttons.msf_btn_previous.link }}" class="{{ buttons.msf_btn_previous.attr.class }}" >
                            <i class="fa fa-arrow-left"></i>
                            {{ buttons.msf_btn_previous.label }}
                        </a>
                {% endif %}
            </div>
        {{ form_end(form) }}
        </div>
    {% endif %}

    <!--Time of Generation -->
    {% if msf_time is defined %}
        <div>
            {% set ms = msf_time*1000 %}
            MSF Form généré en {{ ms }} ms.
        </div>
    {% endif %}
{% endblock %}